<body>
<div class="background">
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>

  <div class="container">
   

     <div class="ui medium header">Welcome to the game Arena!</div>
    <div
      class="ui animated button"
      [routerLink]="'main-page'"
      type="submit"
      tabindex="0"
    >
      <div class="visible content">Click here to Start</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </div>
  </div> 
</div>
</body> 
